/* Default styles- general and large screens */
@font-face {   font-family:MysteryQuest; src:url('./assets/Mystery_Quest/MysteryQuest-Regular.ttf'); } 

* { box-sizing: border-box; 
    margin:0;
    padding:0;
    color: aliceblue;
}

h1 {    font-family: MysteryQuest; 
        font-size: 5vw; 
        text-align: center;
        padding-top: 2vw;

    }
h2 { font-size: 3vw; text-shadow: #230C33 0.1vw 0.1vw 0.2vw;}
h3 { font-size: 2vw; text-shadow: #230C33 0.1vw 0.1vw 0.2vw;}
h4 { font-size: 1vw; }
p { font-size: 1.25vw;
    margin: 1vw;
    }

.textBox {margin-bottom: 3vw;}
.textBox > * {  margin-left: 1vw;
                }


button {    font-size: 1vw;
            border: none;
            border-radius: 0.5vw;
            background-color: #592E83;
            color: aliceblue;
            cursor: pointer;
            width: fit-content;
            padding: 0.1vw 0.5vw;
            margin-left: 1vw;
        }

img {   height: auto; 
        margin:1vw;
        border: 2px solid aliceblue;
        border-radius: 1vw;
    }

header {    background-image:url('./assets/headerBacker.jfif'); 
            height: 10vw;

        }

main { background-color: #592E83;
        display: grid;
        grid-template-columns: 1fr 7fr ;}

footer {    background-color: #592E83;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2vw;
        }



nav {   margin: 1vw;
        background-color: #CAA8F5;
        border-radius: 1vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 20vw;
        
    }
a   {   font-size: 2vw;
            margin: 1vw;
        }

body {  font-family: 'Lexend', sans-serif;
        overflow: auto;
    }

#content {  display: flex;
            gap: 1vw;
            flex-direction: column;
            align-items: stretch;
           }

#Home { 
        display:flex; 
        flex-direction: column;

    }
    
#Home .row   {  display: flex; 
                flex-direction:row;
                align-items: stretch;
                justify-content: space-evenly;
                background-color: #CAA8F5;
                border-radius: 1vw;
                margin: 1vw;
            }

 #Home .row .col {  display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: flex-start;
                    margin: 1vw;
                    background-color:  #9984D4;
                    border-radius: 1vw;
            }

.home_img { width: 20vw; }

.home_link {margin-left: 1vw;}

#locaction_wrapper {    display:flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                }
#locaction_wrapper h4 { margin-left: 1vw; }

#recruit :nth-child(3) { margin-bottom: 3vw; }

#latest .home_img {     margin: auto;
                        margin-bottom: 3vw;
                        width: 25vw;
                    }





#Adoptions {    background-color: #CAA8F5;
                border-radius: 1vw;
                margin: 1vw;
            }

#Adoptions h2 { text-align: center;
                margin-top: 1vw;
            }

#petDisplay {   display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: stretch;
                margin: 1vw;
        }  

.speciesBox {   background-color: #9984D4;
                border-radius: 1vw;
                margin: 1vw;
}


summary {  margin-left: 1vw; 
           cursor: pointer;
            }
summary h3 { position: relative; top: -1.5vw; right: -1vw}

.petCardWrapper {   display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 1vw;
                }

.petCard {  display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: space-evenly;
            align-content: center;
            margin: 1vw;
            background-color: #B27C66;
            border-radius: 1vw;
            border: 2px solid #230C33;
        }

.petInfo {  display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: space-around;
}

.petInfo h4 { margin-left: 1vw; }

.pet_img {width: 10vw;}


/*  MEDIUM SCRREN ADJUSTMENTS  */
@media (max-width: 960px) {
    main { display: flex;
          flex-direction:  column;
    }

    nav {   flex-direction: row;
            height: auto;
        }

    header { height: 15vw; }

    h1 { font-size: 6vw; }
    h2 { font-size: 4vw; }
    h3 { font-size: 3vw; }
    h4 { font-size: 2vw; }
    p { font-size: 2vw; }
    button { font-size: 2vw;}
    a { font-size: 2vw; }


    .petCardWrapper { grid-template-columns: repeat(2, 1fr); }
    .pet_img { width: 15vw;}
}

/*  SMALL SCREEN ADJUSTMENTS  */
@media (max-width: 480px){
    .pet_img { width: 30vw;}
    .petCardWrapper { grid-template-columns: 1fr; }

    #Home .row { flex-direction: column; align-items: center; }
    #Home :first-child :nth-child(2) { flex-direction: row;}
    #AboutImgs img { height: 30vw; width: auto;}
    #latest .home_img { height: 50vw; 
                        width: auto;}
   


    header { height: 25vw; }

    h1 { font-size: 8vw; }
    h2 { font-size: 6vw; }
    h3 { font-size: 5vw; }
    h4 { font-size: 4vw; }
    p { font-size: 4vw; }
    button { font-size: 4vw;}
    a { font-size: 4vw; }
}