@font-face {font-family:KlarissaShadow; src:url('./assets/KlarissaShadow.ttf');}

#lastName {
  font-family: "Jacquard 12", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 7rem;
}

#firstName {
    fill:white; 
    stroke:black; 
    stroke-width:4; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7rem; 
    font-weight:bold;
}


 * {    box-sizing: border-box; 
        margin: 0px; 
        padding: 0px;
    }

    h1 {font-family: KlarissaShadow; 
        font-size: 5rem; 
        color: #E0E2DB;
        text-align: center; 
        margin: auto;
    }
    
    body {  display: grid;
            grid-template-rows: 1fr 6fr 1fr;
            background-color:#889696 ;
    }

    main {  display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 3vw;
            padding: 2vw;
        }
   
        .mainProb{  padding: 1vw;
                    border: solid 0.5vw #5F7470 ;
                    border-radius: 1vw;
                    background-color:#B8BDB5;
        }

        